@model SubCategory

<link href="~/lib/summernote/summernote-bs4.css" rel="stylesheet" />
<link href="~/lib/dropzone/dropzone.css" rel="stylesheet" />
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10">
                    <form asp-action="Edit" asp-controller="Categories" asp-area="Admin" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" value="@Model.CategoryId" name="CategoryId" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="List">Back to Category List</a>
            </div>
        </div>
    </div>
</div>
<partial name="_Scripts" />
